body {background-color: #5ceb39}
h1 {color: #000000;
font-family: Source Sans Pro}
h2 {color: #000000;
font-family: Source Sans Pro}
a {background: #007fc9;
margin: 10px;
color: #ffffff;
}
p {font-size: large;
font-family: 'Times New Roman', Times, serif}
